@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

#content {
  margin: 0 auto;
}

#content img {
  display: block;
  margin-bottom: 1em;
}

#company-logos {
  background-image: url(http://arrabona.github.io/daughtersofdolma.hu/assets/company-logos.png);
  height: 96px;
  width: 352px;
  float: left;
}

#buy-button {
  background-image: url(http://arrabona.github.io/daughtersofdolma.hu/assets/buy-button.png);
  height: 74px;
  width: 206px;
  float: right;
  margin: 1em;
}

